# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\BackUp20130831\Studium OMI\Module\Bachelor\07 SS 18\OOS Objektorientierte Skriptsprachen\EA 2\dirFinder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
